/*font-family: 'Roboto', sans-serif;*/

.row {
    margin-left: 0!important;
    margin-right: 0!important;
}

.container-fluid {
    padding-left: 0!important;
    padding-right: 0!important;;
}

.preload-container {
    /*height: 100vh;*/
    /*background-color: #000734;*/
}

#Layer_1 {
    margin-top: 100px;
    display: none;
}

.bg {
    background-size: cover;
    height: 100vh;
}

.img-1 {
    background-image: url('../img/bg1.svg');
}

.img-2 {
    background-image: url('../img/bg2.svg');
}

.black-square {
    /*position: absolute;*/
    /*width: 100%;*/
    /*top: -40px;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-image: url('../img/black-square.svg');*/
    background-color: #000;
}

.gradient {
    background: -webkit-linear-gradient(right, #FF7F7F, #DDCD13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grey {
    color: #7A7A7A;
}

.relative {
    position:relative;
}

.base-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #7A7A7A;
    margin: 5em 0 0 0;
}

.flex {
    display: flex;
}

.justify-space-bw {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.align-end {
    align-items: flex-end;
}

/*section 1*/

.logo-img {

    padding-left: 35px;
}

.web-kings {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.make-better {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.21em;
    color: #FFFFFF;
}

.slogan {
    margin-left: 45px;
}

.nav a {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}

.nav a:hover {
    background: -webkit-linear-gradient(right, #FF7F7F, #DDCD13);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#main-container {
    display: none;
}

.main-text {
    transform: translate(-50%,-100%);
}

.revealator-slidedown.revealator-within.main-text,
.revealator-slidedown.revealator-partially-above.main-text,
.revealator-slidedown.revealator-above.main-text {
    transform: translate(-50%,-50%);
}
.main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 50px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.main-text:before {
    content:url('../img/line.svg');
    left: -40px;
    position: absolute;
}

.main-text:after {
    content:url('../img/line.svg');
    right: -40px;
    position: absolute;
    bottom: 0
}


/*section 2*/

.bg-2 {
    background-color: #E0E5E9;

}

.lion-1-img {
    position: absolute;
    left: 20%;
    height: 106vh;
    top: -3vh;
    z-index: 10;
}

.lion-2-img {
    position: absolute;
    right: 20%;
    height: 106vh;
    top: -3vh;
    z-index: 10;
}

.subtitle {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 40px;
    letter-spacing: 0.05em;
}

.numbers {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.05em;
}

.about-categories {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
}

.about-us-container {
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    padding-top: 20%;
    justify-content: center;
    overflow: hidden;
}

.services {
    margin-top: 100px;
}

.services-subtitle {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.services-text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}


.steps-container {
    vertical-align: middle;
    height: 100%;
    align-items: center;
    display: flex;
}

.steps-container img {
    height: 80vh;
}

.steps-text {
    font-family: 'Bitter', serif;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    width: 50%;
    color: #FFF;
    height: 15%;
    border-radius: 8px;
    padding-top: 5%;
}
.revealator-rotateleft.revealator-within,
.revealator-rotateleft.revealator-partially-above,
.revealator-rotateleft.revealator-above {
    transform: rotate(-10deg);
}
.revealator-rotateright.revealator-within,
.revealator-rotateright.revealator-partially-above,
.revealator-rotateright.revealator-above {
    transform: rotate(10deg);
}

.dark-bg {
    background-color: #333333;
}

.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFF;
    padding-top: 5vh;
}

.dark-grey-text {
    color: #333;
}

.bg-gradient {
    background-image: linear-gradient(to right, #FF7F7F, #DDCD13);
    overflow: hidden;
}

.contact-slogan {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.circle {
    width: 6px;
    height: 6px;
    background: #333;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.line {
    background: #FFF;
    height: 1px;
    width: 300px;
    margin: 0 25px;
}

.with-love-slogan {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-top: 50px;
}

.container-contacts {
    position: relative;
}

.social-icons img {
    padding: 25px;
}

.copyrights {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 25px 0;
}

.submit-container {
    text-align: right;
    margin: 15px;
}

.text-area {
    margin: 15px;
}

.text-area textarea {
    width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #FFF;
}

.input-container input {
    width: 100%;
    margin: 15px;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #FFF;
}

input::placeholder, textarea::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    opacity: 1; /* Firefox */
}

.send-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    width: 30%;
    background-color: transparent;
    border: 1px solid #FFF;
    padding: 10px;
}

.form-contacts {
    margin-top: 50px;
    padding-bottom: 50px;
}

.subtitle-for-contacts {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}
.value-contacts {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.05em;

    color: #FFFFFF;

}

.container-for-steps {
    height: 100vh;
    width: 100%;
}

.container-for-steps div:nth-child(1):before {
    content: '1';
    padding-right: 25px;
}

.container-for-steps div:nth-child(2):after {
    content: '2';
    padding-left: 25px;
}

.container-for-steps div:nth-child(3):before {
    content: '3';
    padding-right: 25px;
}

.container-for-steps div:nth-child(4):after {
    content: '4';
    padding-left: 25px;
}

.container-for-steps div:nth-child(5):before {
    content: '5';
    padding-right: 25px;
}

.container-for-steps div:nth-child(6):after {
    content: '6';
    padding-left: 25px;
}

.black-man {
    position: absolute;
    top: -20px;
}


/*Styles for adaptive*/

@media screen and (min-width:300px) and (max-width:1200px) {

    .main-text {
        font-size: 35px;
    }

    .img-2 {
        height: auto;
    }

    /*.bg-2 {*/
        /*height: auto;*/
    /*}*/

    /*.services-subtitle {*/
        /*font-size: 20px;*/
    /*}*/

    /*.services-text {*/
        /*font-size: 14px;*/
    /*}*/
}
